@import "./contacts/contacts.scss";
@import "./contacts/contacts_media.scss";
@import "./support/support.scss";
@import "./support/support_media.scss";
@import "./title/title.scss";
@import "./title/title_media.scss";

.footer {
  position: fixed;
  bottom: 0;
  background-color: $main-color;
  width: 100%;
}
.footer__contentBox {
  @extend .contentBox;
  justify-content: space-between;
}
.footer__contentSlot {
  margin: 0;
  display: flex;

  justify-content: center;
  align-items: center;
  width: 33%;
}
.footer__contentSlot__left {
  margin: 0;
  display: flex;
  justify-content: left;
  align-items: left;
  width: 33%;
}
.footer__contentSlot__right {
  margin: 0;
  display: flex;
  justify-content: right;
  align-items: right;
  width: 33%;
}
a {
  text-decoration: none;
  color: white;
}
