.logoAndText {
  @include _768 {
    flex-direction: row;
    width: auto;
  }
}
.logoAndText_logo {
  @include _768 {
    height: 30px;
    width: 75px;
  }
}
.logoAndText_text {
  @include _768 {
    width: 125px;
    margin-bottom: 0;
  }
}
