.exercises {
  @extend .contentBox;
  flex-direction: column;
  margin-bottom: 120px;
}

.exercise__closed {
  font-family: $font-title;
  font-size: larger;
  font: bold;
  background-color: $main-color;
  padding: 20px;
  margin: 10px;
  margin-left: 0;
  margin-right: 0;
  border-radius: 10px;
  &:hover {
    background-color: $main-hover;
  }
}

.exercise__opended {
  border-radius: 10px;
  margin: 10px;
  margin-left: 0;
  margin-right: 0;
  background-color: $main-color;
  display: flex;
  flex-direction: row;
}

.exercise__text {
  display: flex;
  flex-direction: column;
}

.instruction__text {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: $font-title;
  margin: 3px auto;
  background-color: white;
  color: $main-color;
  font-size: larger;
  text-align: center;
}
.instruction__list {
  list-style-type: decimal;
  font-size: small;
  font-family: $font-common;
  margin: 25px;
  margin-bottom: 3px;
  margin-top: 3px;
}
.tips__text {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 3px auto;
  font-family: $font-title;
  background-color: white;
  color: $main-color;
  font-size: larger;
  text-align: center;
}
.tips__list {
  list-style-type: disc;
  font-size: small;
  margin: 25px;
  margin-bottom: 3px;
  margin-top: 3px;
  font-family: $font-common;
}

.exercise__video {
  display: flex;
  justify-content: center;
  width: 100%;
}

.exercise__youtube {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
}
