.exercises {
  @include _768 {
      margin-bottom: 3px;
  }
}
.exercise__opended {
  @include _768 {
    flex-direction: column-reverse;
    background-color: white;
  }
}
.exercise__text {
  @include _768 {
    margin-top: 10px;
    border-radius: 10px;
    background-color: $main-color;
  }
}
.exercise__video {
  @include _768 {
    height: 350px;
    border-radius: 10px;
  }
}
.exercise__youtube {
  @include _768 {
    height: 350px;
    border-radius: 10px;
  }
}
