.SideSelection {
  display: flex;
  justify-content: center;
}
.button {
  font-family: $font-common;
  margin: 10px;
  color: $main-text-color;
  border: none;
  width: 100px;
  height: 50px;
  border-radius: 10px;

  &__active {
    background-color: $main-color;
    &:hover {
      background-color: $main-hover;
    }
  }
  &__disable {
    border: solid;
    background-color: white;
    border-color: $main-color;
    color: $main-color;
    padding: -2px;

    &:hover {
      background-color: $main-color;
      color: $main-text-color;
      padding: 0;
      border: 0;
    }
  }
}
