.languageSwitcher {
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.languageSwitcher__button {
  color: white;
  display: flex;
  margin: 5px;
  border-radius: 15%;
  background: transparent;
  border: none;
  justify-content: center;
  height: 30px;
  width: 50px;
  padding: 0;
}
.languageSwitcher__language_active {
  border: 2px solid;
  border-radius: 15%;
  height: 30px;
  width: 50px;
}
.languageSwitcher__language_disabled {
  border-radius: 15%;
  height: 30px;
  width: 50px;
  -webkit-filter: grayscale(100%);
  &:hover {
    background-color: $main-hover;
    -webkit-filter: grayscale(0);
  }
}
