@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Oswald:wght@200;300;400;500;600;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  height: 100vh;
}

.contentBox, .footer__contentBox, .exercises, .muscles, .header__contentBox {
  display: flex;
  max-width: 1024px;
  margin: auto;
  color: #ffffff;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.flip-enter-active {
  transition: all 0.9s ease;
}

.flip-leave-active {
  display: none;
}

.flip-enter-from,
.flip-leave-to {
  transform: rotateY(180deg);
  opacity: 0;
}

.bounce {
  animation: bounce-in 0.3s;
}

@keyframes bounce-in {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
.shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.languageSwitcher {
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.languageSwitcher__button {
  color: white;
  display: flex;
  margin: 5px;
  border-radius: 15%;
  background: transparent;
  border: none;
  justify-content: center;
  height: 30px;
  width: 50px;
  padding: 0;
}

.languageSwitcher__language_active {
  border: 2px solid;
  border-radius: 15%;
  height: 30px;
  width: 50px;
}

.languageSwitcher__language_disabled {
  border-radius: 15%;
  height: 30px;
  width: 50px;
  -webkit-filter: grayscale(100%);
}
.languageSwitcher__language_disabled:hover {
  background-color: rgba(230, 163, 163, 0.8078431373);
  -webkit-filter: grayscale(0);
}

.logoAndText {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoAndText_logo {
  height: 80px;
  width: 150px;
}

.logoAndText_text {
  margin-bottom: 5px;
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: large;
  font: bold;
}

@media (max-width: 768px) {
  .logoAndText {
    flex-direction: row;
    width: auto;
  }
}

@media (max-width: 768px) {
  .logoAndText_logo {
    height: 30px;
    width: 75px;
  }
}

@media (max-width: 768px) {
  .logoAndText_text {
    width: 125px;
    margin-bottom: 0;
  }
}

.header {
  background-color: #B32821;
  width: 100%;
}

.header__contentBox {
  justify-content: space-between;
}

.header__contentSlot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
}

.header__contentSlot__left {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 33%;
}

.header__contentSlot__empty {
  width: 33%;
}

@media (max-width: 768px) {
  .header__contentSlot__empty {
    height: 10vh;
  }
}

@media (max-width: 768px) {
  .header__contentSlot__left {
    width: auto;
  }
}

@media (max-width: 768px) {
  .header__contentSlot {
    width: auto;
    justify-content: left;
  }
}

.svgBox {
  display: flex;
  justify-content: center;
  margin: 10px;
  height: 450px;
}

.svg {
  position: absolute;
  background-color: rgb(255, 255, 255);
  height: 450px;
  fill: #B32821;
}

.muscle:hover {
  fill: rgba(230, 163, 163, 0.8078431373);
}

@media (max-width: 768px) {
  .svgBox {
    height: 450px;
  }
}

@media (max-width: 768px) {
  .svg {
    height: 450px;
  }
}

.SideSelection {
  display: flex;
  justify-content: center;
}

.button {
  font-family: "Koulen", cursive;
  margin: 10px;
  color: #ffffff;
  border: none;
  width: 100px;
  height: 50px;
  border-radius: 10px;
}
.button__active {
  background-color: #B32821;
}
.button__active:hover {
  background-color: rgba(230, 163, 163, 0.8078431373);
}
.button__disable {
  border: solid;
  background-color: white;
  border-color: #B32821;
  color: #B32821;
  padding: -2px;
}
.button__disable:hover {
  background-color: #B32821;
  color: #ffffff;
  padding: 0;
  border: 0;
}

@media (max-width: 768px) {
  .SideSelection {
    height: 15vh;
  }
}

.muscles {
  position: relative;
  margin: auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .muscle {
    height: 80vh;
  }
}

.exercises {
  flex-direction: column;
  margin-bottom: 120px;
}

.exercise__closed {
  font-family: "Oswald", sans-serif;
  font-size: larger;
  font: bold;
  background-color: #B32821;
  padding: 20px;
  margin: 10px;
  margin-left: 0;
  margin-right: 0;
  border-radius: 10px;
}
.exercise__closed:hover {
  background-color: rgba(230, 163, 163, 0.8078431373);
}

.exercise__opended {
  border-radius: 10px;
  margin: 10px;
  margin-left: 0;
  margin-right: 0;
  background-color: #B32821;
  display: flex;
  flex-direction: row;
}

.exercise__text {
  display: flex;
  flex-direction: column;
}

.instruction__text {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Oswald", sans-serif;
  margin: 3px auto;
  background-color: white;
  color: #B32821;
  font-size: larger;
  text-align: center;
}

.instruction__list {
  list-style-type: decimal;
  font-size: small;
  font-family: "Koulen", cursive;
  margin: 25px;
  margin-bottom: 3px;
  margin-top: 3px;
}

.tips__text {
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 3px auto;
  font-family: "Oswald", sans-serif;
  background-color: white;
  color: #B32821;
  font-size: larger;
  text-align: center;
}

.tips__list {
  list-style-type: disc;
  font-size: small;
  margin: 25px;
  margin-bottom: 3px;
  margin-top: 3px;
  font-family: "Koulen", cursive;
}

.exercise__video {
  display: flex;
  justify-content: center;
  width: 100%;
}

.exercise__youtube {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
}

@media (max-width: 768px) {
  .exercises {
    margin-bottom: 3px;
  }
}

@media (max-width: 768px) {
  .exercise__opended {
    flex-direction: column-reverse;
    background-color: white;
  }
}

@media (max-width: 768px) {
  .exercise__text {
    margin-top: 10px;
    border-radius: 10px;
    background-color: #B32821;
  }
}

@media (max-width: 768px) {
  .exercise__video {
    height: 350px;
    border-radius: 10px;
  }
}

@media (max-width: 768px) {
  .exercise__youtube {
    height: 350px;
    border-radius: 10px;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.contacts__text {
  font-family: "Koulen", cursive;
  margin: 3px;
  text-decoration: underline;
  font: bold;
  font-size: larger;
}

.list {
  list-style-type: none;
}

.contacts__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}
.contacts__list :hover {
  background-color: rgba(230, 163, 163, 0.8078431373);
}

.icon__links {
  font-family: "Koulen", cursive;
  font-size: small;
  margin: 3px;
  width: 40px;
  height: 40px;
  border: solid;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

@media (max-width: 768px) {
  .contacts {
    width: auto;
  }
}

@media (max-width: 768px) {
  .contacts__text {
    font-size: medium;
  }
}

.list {
  list-style-type: none;
}

@media (max-width: 768px) {
  .icon__links {
    font-size: mall;
    width: 20px;
    height: 20px;
  }
}

.support {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.support__text {
  font-family: "Koulen", cursive;
  margin: 3px;
  text-decoration: underline;
  font: bold;
  font-size: larger;
  display: flex;
  justify-content: right;
}

.list {
  padding: 0;
  list-style-type: none;
}

.support__list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: right;
}

.icon {
  cursor: pointer;
}
.icon :hover {
  background-color: rgba(230, 163, 163, 0.8078431373);
}

.icon__links {
  font-family: "Koulen", cursive;
  padding: 0;
  font-size: small;
  margin: 3px;
  width: 40px;
  height: 40px;
  border: solid;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

@media (max-width: 768px) {
  .support {
    margin-right: 6px;
    width: auto;
  }
}

@media (max-width: 768px) {
  .support__text {
    font-size: medium;
  }
}

.list {
  list-style-type: none;
}

@media (max-width: 768px) {
  .icon__links {
    font-size: mall;
    width: 20px;
    height: 20px;
  }
}

.title {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.title__name {
  font-family: "Oswald", sans-serif;
  margin: 5px;
  font-size: x-large;
  font: bold;
}

.title__autor {
  font-family: "Koulen", cursive;
  margin: 5px;
  margin-bottom: 0;
  font-size: small;
}

.title__years {
  font-family: "Koulen", cursive;
  margin: 5px;
  margin-top: 0;
  font-size: x-small;
}

@media (max-width: 768px) {
  .title__name {
    font-size: large;
    margin: 3px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: #B32821;
  width: 100%;
}

.footer__contentBox {
  justify-content: space-between;
}

.footer__contentSlot {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
}

.footer__contentSlot__left {
  margin: 0;
  display: flex;
  justify-content: left;
  align-items: left;
  width: 33%;
}

.footer__contentSlot__right {
  margin: 0;
  display: flex;
  justify-content: right;
  align-items: right;
  width: 33%;
}

a {
  text-decoration: none;
  color: white;
}

@media (max-width: 768px) {
  .footer {
    height: 10vh;
    position: relative;
  }
}/*# sourceMappingURL=index.css.map */